/*
 * Forms
 * -------------------------------------------------- */
form{
  display: flex;
  flex-direction: column;
}
.form-group{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.form-group label{
  text-align: right;
  font-weight: 700;
  color: #333;
}
.form-group input{
  padding: 2px;
}
