/*
 * Header
 * -------------------------------------------------- */

.navbar {
  height: 90px;
  margin-bottom: 60px;
}

.navbar__link {
  padding-left: 15px;
  padding-top: 15px;
  height: 36px;
  display: flex;
}

.navbar__image_link {
  padding-top: 5px;
}

ul {
  height: 90px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
}

li {
  height: 36px;
  align-self: center;
}

li:hover {
  color: #58ACFA;
}

.active {
  color: #58ACFA;
}

img {
  width: 142px;
  height: 36px;
  margin-left: -15px;
}