/*
 * Scaffolding
 * -------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #333;
}

img {
  max-width: 100%; /* Prevent flex wrap rounding issue */
}


/* Map */

.map {
  display: block;
}