/*
 * Type
 * -------------------------------------------------- */
 body {
   font-family: "Lucida Grande", "Lucida Sans Unicde", sans-serif;
   font-size: 14px;
   line-height: 20px;
 }

 /*TYPE*/
 @import url('https://fonts.google.com/specimen/Arbutus+Slab');
 a {
   color: black;}
 a:link {;
   text-decoration: none;
 }
 a:hover {
   text-decoration: underline;
 }
 
 h1, h2{ font-family: "ArbutusSlab", Georgia, serif;}
 h1, h2, h3, h4, h5 { color: #333;}

h1 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;

}
h2 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
3}
